/*
Error: File to import not found or unreadable: dcaps/components.
        on line 14 of style.scss

9: @import 'dcaps/header';
10: @import 'dcaps/layout';
11: @import 'dcaps/nav';
12: @import 'dcaps/search';
13: @import 'dcaps/footer';
14: @import 'dcaps/components';

Backtrace:
style.scss:14
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/import_node.rb:45:in `import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: dcaps/components.\A         on line 14 of style.scss\A \A 9: @import 'dcaps/header';\A 10: @import 'dcaps/layout';\A 11: @import 'dcaps/nav';\A 12: @import 'dcaps/search';\A 13: @import 'dcaps/footer';\A 14: @import 'dcaps/components';"; }
