// Home page news
// --------------------- //
.news-title {
	font-size: 18px;
	margin-bottom: .25em;
}
.news-date {
	margin-bottom: 1em;
}
.view-news {
	h3 {
		margin-top: 0;
	}
}

// Floated images
// --------------------- //
.pull-right {
	margin: 0 0 1em 1em;
}
.pull-left {
	margin: 0 1em 1em 0;
}

// Top link 
// ---------------------- //
.toplink {
	font-size: 16px;
	text-align: right;
}

// Project list
// ---------------------- //
.project {
	margin: 0 0 2em 0;
	img {
		padding: 4px;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
}
.project:first-child {
	margin-top: 2em !important;
}
.investigators {
	font-size: 16px;
	margin-bottom: .25em;
}
.collaborators {
	font-size: 14px;
}
.collection-nav {
	font-size: 14px;
}
.project-link {
	float: left;
	margin-right: 1em;
}

// Project node
// ---------------------- //
.node-type-projects {
	.field {
		font-size: 16px;
	}
	.field-label {
		font-weight: normal;
		margin: 0 .25em .25em 0;
	}
	.field-name-body {
		margin-top: 1em;
	}
	.field-name-field-subtitle {
		font-size: 22px;
		margin-bottom: 1em;
		font-style:	italic;
	}
}
.field-name-field-project-image {
	max-width: 400px;
	img {
		padding: 4px;
		border-radius: 4px;
		border: 1px solid #ddd;
		max-width: 100%;
		height: auto;
	}
}


// News node
// ---------------------- //
.node-type-news {
	.field {
		font-size: 16px;
	}
	.field-label {
		font-weight: normal;
		margin: 0 .25em .25em 0;
	}
	.field-name-body {
		margin-top: 1em;
	}
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.field-name-field-project-image {
		float: right;
		margin: 20px 0 2em 2em;
		max-width: 300px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.field-name-field-project-image {
		max-width: 400px;
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}




