// Home page news
// --------------------- //
.news-title {
	font-size: 18px;
	margin-bottom: .25em;
}
.news-date {
	margin-bottom: 1em;
}
.view-news {
	h3 {
		margin-top: 0;
	}
}

// Floated images
// --------------------- //
.pull-right {
	margin: 0 0 1em 1em;
}
.pull-left {
	margin: 0 1em 1em 0;
}

// Top link 
// ---------------------- //
.toplink {
	font-size: 16px;
	text-align: right;
}

// Project list
// ---------------------- //
.project {
	margin: 0 0 2em 0;
	img {
		padding: 4px;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
}
.project:first-child {
	margin-top: 2em !important;
}
.investigators {
	font-size: 16px;
	margin-bottom: .25em;
}
.collaborators {
	font-size: 14px;
}
.collection-nav {
	font-size: 14px;
}
.project-link {
	float: left;
	margin-right: 1em;
}

// Project node
// ---------------------- //
.node-type-projects {
	.field {
		font-size: 16px;
		margin-bottom: .5em;
	}
	.field-label {
		font-weight: normal;
		margin: 0 .25em .25em 0;
	}
	.field-name-body {
		margin-top: 1em;
	}
	.field-name-field-subtitle {
		font-size: 22px;
		margin-bottom: 1em;
		font-style:	italic;
	}
}
.field-name-field-project-image {
	max-width: 400px;
	img {
		padding: 4px;
		border-radius: 4px;
		border: 1px solid #ddd;
		max-width: 100%;
		height: auto;
	}
}


// News node
// ---------------------- //
.node-type-news {
	.field {
		font-size: 16px;
	}
	.field-label {
		font-weight: normal;
		margin: 0 .25em .25em 0;
	}
	.field-name-body {
		margin-top: 1em;
	}
}

// Webform
// ---------------------- //
.webform-component {
	margin-bottom: 1em;
}
.webform-component-date {
	select {
		width: 25%;
		float: left;
		margin-right: .25em;
	}
	.year {
		width: 25%;
	}
}
.webform-component--return-material-to {
	margin-top: 2em;
}

// Email field needs Bootstrap
.form-email {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.field-name-field-project-image {
		float: right;
		margin: 20px 0 2em 2em;
		max-width: 300px;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.field-name-field-project-image {
		max-width: 400px;
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
}




