// #Cornell identity - copied from dcapsskeleton -  TODO: Better markup for bootstrap/sass; add mobile icons from olinuris theme
// ================================================== //

.cu-identity {
	background: #4d4e53;
}
#cu-identity-wrap {
	font-family: verdana, arial, helvetica, sans-serif; 
	height: 75px;
}
#cu-identity-content {
	height: 75px;
	background: url("../img/lib.gif") no-repeat;
	a {
		position: absolute;
		display: block;
		border: none;
		text-indent: -1000em;
		text-decoration: none;
	}
	a:hover {
		background: transparent;
	}
	img {
		display: none;
	}
}
#insignia-link {
	width: 80px;
	height: 88px;
}
#unit-signature-links {
	a {
		left: 80px;
		width: 185px; 
		height: 65px;
	}
}
#cornell-link {
	height: 35px;
}
#unit-link1 {
	top: 35px;
	height: 20px;
}
#unit-link2 {
	top: 55px;
	height: 33px;
}
#search-navigation {
	ul {
		list-style: none;
		margin: 2em 0 0 0;
		padding: 0;
		float: right;
	}
	li {
		float: left;
		margin: 0;
		padding: 0;
		background: none;
		font-size: 11px;
	}
	a {
		display: inline;
		float: left;
		padding: 5px 15px;
		color: white;
		text-indent: 0;
		position: relative;
	}
	a:hover {
		background: #990f26;
	}
}

// Library brand
// ------------------- //

header {
	background: black;
}
.library-brand {
	margin-top: 2em;
	margin-bottom: 2em;
	@include make-sm-column(8);
}
.brand {
	text-transform: uppercase;
	font-size: 48px;
	font-family: $font-family-dcaps;
	display: inline-block;
	color: white;
	line-height: 1em;
	font-weight: 700;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: white;
	text-decoration: none;
}
.cul-brand {
	color: $pale-gray;
	font-size: 18px;
	font-family: $font-family-cul;
	display: block;}
.cul-brand:hover {
	color: $pale-gray;
	text-decoration: none;
}
.slogan {
	font-family: $font-family-dcaps;
	color: white;
	font-size: 22px;
	font-weight: 400;
	margin-top: .75em;
	span {
		color: $link-primary;
	}
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.brand {
		// font-size: 36px;
		float: left;
		margin-right: .25em;
		padding-right: .25em;
		border-right: 1px solid #444;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.brand {
		// font-size: 48px !important;
	}
	.slogan {
		font-size: 18px;
		margin-top: 1em;
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}
