.navbar {
	border-radius: 0;
	min-height: 0;
	margin-bottom: 0;
}
.navbar-nav {
	margin-bottom: -1px; // to make main menu border flush with bottom black container
}

// Mobile search and menu buttons
// --------------------------------- //
.navbar-toggle {
	margin: 0;
	font-size: 120%;
}

// Global nav
// ------------------- //
.global-menu {
	@include make-xs-column(8);
}
#menu {
	.nav {
		li {
			font-size: 14px;
			text-transform: uppercase;
			float: left;
		}
		a {
			color: white;
			padding: 10px 15px;
		}
		a:hover, a:active, a:focus {
			background: inherit;
			text-decoration: underline;
		}
		.active {
			a, a:hover, a:active, a:focus {
				font-weight: 700;
			}
		}
	}
}

// Main nav
// ------------------- //
nav {
	background: black;
	.nav {
		li {
			float: left;
			margin: 0 50px 0 0;
			a {
				color: white;
				font-size: 18px;
				padding: 5px 0;
				text-transform: uppercase;
				border-bottom: 5px solid black;
			}
			a:hover,
			a:active,
			a:focus {
				background: rgba(0, 0, 0, 1);
				color: white;
			}
		}
		.active {
			a, a:hover, a:active, a:focus {
				background: rgba(0, 0, 0, 1);
			}
		}
	}
}
// Main nav different colors
// ------------------------------- //
nav {
	.nav {
		li a.home:hover,
		li.active a.home {
			border-color: $link-primary;
		}
	}
}
nav {
	.nav {
		li a.about:hover, // about is really services, TODO: change classes
		li.active-trail .about {
				border-color: $services;
		}
	}
}
nav {
	.nav {
		li a.initiatives:hover,
		li.active-trail .initiatives {
				border-color: $initiatives;
		}
	}
}
nav {
	.nav {
		li a.projects:hover,
		li.active-trail .projects {
				border-color: $projects;
		}
	}
}
nav {
	.nav {
		li a.contact:hover, // contact is really about, TODO: change classes
		li.active-trail .contact {
				border-color: $about;
		}
	}
}


/* change border bottom colors on hover and active links */
// nav ul#main-menu a.home:hover,
// nav ul#main-menu li.active-trail a.home {border-bottom: 5px solid #0097dc;}
// nav ul#main-menu a.about:hover,
// nav ul#main-menu li.active-trail a.about {border-bottom: 5px solid #308427;}
// nav ul#main-menu a.projects:hover,
// nav ul#main-menu li.active-trail a.projects {border-bottom: 5px solid #5b2784;}
// nav ul#main-menu a.initiatives:hover,
// nav ul#main-menu li.active-trail a.initiatives {border-bottom: 5px solid #b31b1b;}
// nav ul#main-menu a.contact:hover,
// nav ul#main-menu li.active-trail a.contact {border-bottom: 5px solid #ff7508;} /* 5/16/13 - this is now "About" -- changed contact to about, but body class is still contact */



// Mobile nav
// ------------------- //
#mobile-nav {
	background: white;
	a {
		color: $dark-gray;
		font-size: 14px;
		border-bottom: 1px solid $pale-gray;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}

// Sidebar nav
// ------------------- //
.sidebar {
	.block-title {
		margin: 0;
		padding: 0 0 .5em 0;
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 2px solid $pale-gray;
		a {
			color: $medium-gray;
			border: none;
		}
	}
	.nav > li {
		padding: 8px 0;
		font-size: 14px;
	}
	.nav > li > a {
		padding: 0;
		border-bottom: 0;
		display: inline-block; // need this so the link text displays inline with menu icon
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
	}
	.nav {
		margin-top: 1em;
		i {
			margin-right: .4em;
			color: $lighter-gray;
		}
		.active {
			a, a:hover, a:active, a:focus {
				color: $dark-gray;
				font-weight: 700;
			}
		}
	}
}


// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	#menu {
		.nav {
			float: right;
		}
	}
	// nav {
	// 	.navbar-nav > li > a {
	// 		font-size: 14px;
	// 	}
	// }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}