// Search box
// -------------------------- //
// .header-search {
// 	@include make-sm-column(4);
// 	margin-top: 4em;
// }
.main-content {
	.search-by-page-form {
		.container {
			padding-left: 0;
		}
		.form-group {
			margin-right: .25em;
			width: 50%;
			float: left;
		}
		.btn {
			background: $link-primary;
			border-radius: 0;
			border-color: $link-primary;
		}
		.form-control {
			border-radius: 0;
		}
	}
}

// Mobile buttons
// -------------------- //
.btn-search, .btn-search:hover, .btn-search:active, .btn-search:focus {
	float: right;
	background: #333;
	color: white;
	border-radius: 0;
}
.navbar-header {
	float: right;
}
.navbar-toggle {
	margin: 0;
	// font-size: 120%;
	background: #333;
	border-radius: 0;
	color: white;
	padding: 6px 12px;
	margin-left: 3px;
}

// Mobile search box
// ------------------------ //
#mobile-search {
	background: $dark-gray;
	padding: 5px 0;
	form {
		padding: 5px;
	}
	.form-group {
		// width: 80%;
		float: left;
		margin-bottom: 0;
	}
	.btn {
		background: $link-primary;
		border-radius: 0;
		border: 0;
	}
	.form-control {
		border-radius: 0;
	}
	.search-by-page-form {
		.form-control {
			background: #333;
			border-color: $dark-gray;
			color: white;
		}
	}
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	// .header-search {
	// 	.form-group {
	// 		width: 70%;
	// 	}
	// }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.brand {
		font-size: 36px;
	}
	// .header-search {
	// 	.form-group {
	// 		width: 80%;
	// 	}
	// }
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}